*{
  box-sizing: border-box;
  
   }
  
  body{
        
  
        margin: 0;
        padding: 0;
  }
  
  
  header{
      
    padding: 5px ;
      overflow: hidden;
  }

   .navbar-brand{
           
    height: 30px;
     margin-left: 20px; 
     padding-bottom: 20px;

   }
  
   header h1{
     
    font-size: 28px;
     margin-left: 20px;
       color: white;
   }
  

   ul li a{
    
    text-align: center;
    align-items: center;

 }

 .title{
    
  font-size:x-large;
     text-align: center;
     margin-bottom: 40px;
     margin-top: 20px;
     

 }
 
 .second{
     
  margin-left: 20px;
  margin-right: 20px;
        background-color: gray;

 }

    
 p{
          
  padding: 15px;
   color: black;
}

.chi{
          
       font-size: x-large;
        text-align: center;

}

 .navbar{

     background-color: black;
     overflow: hidden;
 }

 
 .navbar-nav .nav-link {
  color: rgb(26, 25, 25) !important; /* Set text color to white for navigation links */
}

@media (min-width: 997px) {
  /* Medium and large screens */
  .navbar-nav {
      display: none; /* Hide the navigation links on medium and large screens */
  }
}

@media (max-width: 992px) {
  /* Small screens (mobile) */
  .navbar-nav {
      display: flex;
      justify-content: space-between;
  }

  .nav-item {
      flex-grow: 1;
      text-align: center;
  }

  
  .nav-link {
    color: black;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    margin-bottom: -8px;
}
}